#device-table caption {
  caption-side: top;
  text-align: center;
}

#device-table td, #device-table th {
    text-align: center;
}

.container-fluid {
    padding: 15px;
}

/* nav {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */