{% extends 'base.html' %}

{% block content %}
    <table id="uplinks" width="100%" class="display nowrap cell-border">
        <thead>
            <tr>
                <th>DevEUI</th>
                <th>Source</th>
                <th>Time</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Uplinks</th>
                <th>Downlinks</th>
                <th>Temperature (°C)</th>
                <th>Locate</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block map %}
    <div id="map">
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"
    async defer></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}